.mobile-menu {
    margin: 6px;
    opacity: 0;
    visibility: hidden;
    border-radius: 6px;
    position: fixed;
    top:10%;
    left: 0%;
    padding: 20px;
    overflow: auto;
    background-color: #fff;
    height: 100vh;
    box-shadow: 1px;
}


.mobile-menu.is-active {
    opacity: 1;
    visibility: visible;
    z-index: 999;
    transition: 1s ease;
}

.menu {
    /* background-color: rgba(44, 44, 44, 0.80); */
    transition: opacity 0.8s ease;
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 105px;
    left: 20px;
    padding: 20px;
}

.menu.is-active {
    opacity: 1;
    visibility: visible;
    z-index: 999;
}


@media (min-width:767px) {
    .mobile-menu {

    }
}
