/* Импорт шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');


/* Импорт кастомных стилей для компонентов */
@import './block/button.css';
@import './block/menu-button.css';
@import './block/menu.css';
@import './block/scrool-top.css';
@import './block/popup.css';
@import './block/menu-slide.css';
@import './block/marquee.css';
@import './block/submenu.css';
@import './block/modal.css';

/* Импорт TailWind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Зарегистрируйте пользовательское семейство шрифтов и сообщите браузеру, где его найти. */
@font-face {
    font-family: 'Monsteratt';
    src: url('../src/fonts/Montserrat-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        font-family: 'Monsteratt', sans-serif;
        color: #262626;
        font-weight: 400;
    }

    h2, h3 {
        font-family: 'Monsteratt';
        line-height: 85px;
    }

    span.counter-items,
    span.counter-client,
    span.counter-years {
        font-family: 'Monsteratt';
    }
}

@layer components {
    .container {
        @apply max-w-[1440px]
    }
}

/* Директивы классов */





/* Прочие классы */

.lock {
    overflow: hidden;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


@media (max-width: 767px) {
    .important {
        background-image: none;
    }
}

@media (max-width: 1023px) {
    .hero-bg img {
        display: none;
    }
}

.header-fix {
    /* background: rgba(20, 19, 19, 0.8); */
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    padding-bottom: 10px;
}

.title {
    line-height: 85px !important;
}


@media (max-width:767px) {
    .img_main {
        height: 50vh;
    }
}

  
  /* Скрыть скроллбар */
  .sidebar_menu::-webkit-scrollbar {
    display: none;
  }



  .sidebar {
    width: 25%; 
    height: 100vh;
    max-width:250px;
}

.wrapper {
    display: flex;
}


@media (max-width:1920px) {
    .product-item {
        width: 320px;
    }
    .map {
        width: 1300px;
        height: 434px;
    }
}
@media (max-width:1420px) {
    .product-item {
        width: 300px;
    }
    .map {
        width: 1200px;
        height: 434px;
    }
}

@media (max-width:1361px) {
    .product-item {
        width: 290px;
    }
    .map {
        width: 1100px;
        height: 434px;
    }
}
@media (max-width:1319px) {
    .product-item {
        width: 280px;
    }
    
}
@media (max-width:1284px) {
    .product-item {
        width: 270px;
    }
}



@media (max-width:1200px) {
    .product-item {
        width: 230px;
    }
    .map {
        width: 800px;
        height: 434px;
    }
}
@media (max-width:1030px) {
    .product-item {
        width: 165px;
    }
    .map {
        width: 600px;
        height: 434px;
    }
}

@media (max-width:769px) {
    .product-item {
        width: 150px;
    }
    .map {
        width: 600px;
        height: 340px;
    }
}

@media (max-width:640px) {
    .map {
        width: 330px;
        height: 340px;
    }
}



@media(max-width:1000px) {
    .sale-item {
        max-width: 200px;
    }
}



.scroll-top {
    background-color: rgb(210, 50, 62);
}

.arrow {
    margin-left: 5px;
}

@media (max-width: 460px) {
    li.rounded-md.bg-light-gray:first-child,
    li.rounded-md.bg-light-gray:last-child {
      width: 100%;
    }
  }

  
  